/*@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
*{
  font-family: 'Titillium Web', sans-serif !important;
}

body{
  background: #171717;
  color: white!important;
  max-width: 768px;
  margin: 0 auto;
}*/
html, body{
  height: 100%;
}
.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#photo-cnt{
  display: none;
  margin-top: 25px;
}
form { margin-top: 15px; }
form > input { margin-right: 15px; }
#results { float:right; margin:20px; padding:20px; border:1px solid; background:#ccc; }

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -76px;
  margin-left: -76px;
  z-index:2;

}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.activities-container li{
  list-style: none;
}
.activities-container img{
  width: 100%;
  margin-bottom: 4px;
}
.activities-container .activity-bx{
  margin-bottom: 25px;
}
margin-bottom: 20px;
