<div class="activities-container container-fluid">
  <div class="row">
    <h1>Activites near {{location}}</h1>
  </div>
  <div class="row">
    <li ng-repeat="activity in activities" class="col-md-6 col-lg-4">
      <div class="activity-bx">
        <h4>{{activity.title}}</h4>
        <img ng-src="{{activity.imageUrl}}" alt="">
        <div class="row">
          <div class="col-xs-6">
            <label>Duration :</label><span>{{activity.duration}}</span>
          </div>
          <div class="col-xs-6">
            <label>Price :</label><span>{{activity.fromPrice}}</span>
          </div>
        </div>
        <div class="">
          <button type="button" name="button">Book Activity</button>
        </div>
      </div>
    </li>
  </div>
</div>
