<!-- <div ng-include = "'partials/header.htm'"></div>
<div class="home-container padding-5px">
	<div class="container-fluid" infinite-scroll="loadNextPage()" infinite-scroll-distance="1">
		<div class="row">
			<div class="col-xs-4 padding-5px" ng-repeat="tile in tileArray">
				<movie-tile movie-data="tile"></movie-tile>
			</div>
		</div>
	</div>
</div> -->

<!-- <div class="">
	<ng-map center="41,-87" zoom="3"></ng-map>
</div> -->

<div style="width: 68%; float:left; height: 100%">
      <b>Origin </b>
      <select ng-model="origin" ng-init="origin='toronto'">
        <option value="toronto">Toronto</option>
        <option value="ottawa">Ottawa</option>
        <option value="montreal">Montreal</option>
      </select>

      <b>Destionation </b>
      <select ng-model="destination" ng-init="destination='ottawa'">
        <option value="toronto">Toronto</option>
        <option value="ottawa">Ottawa</option>
        <option value="montreal">Montreal</option>
      </select>

      <b>Mode of Travel: </b>
      <select ng-model="travelMode" ng-init="travelMode='DRIVING'">
        <option value="DRIVING">Driving</option>
        <option value="WALKING">Walking</option>
        <option value="BICYCLING">Bicycling</option>
        <option value="TRANSIT">Transit</option>
      </select>

      <ng-map zoom="14" id="my-map" center="37.7699298, -122.4469157" style="height:90%" on-click="logLatLng()" >
        <directions
          draggable="true"
          panel="directions-panel"
          travel-mode="{{travelMode}}"
          waypoints="{{wayPoints}}"
          origin="{{origin}}"
          destination="{{destination}}">
        </directions>
      </ng-map>
      Directions path length:
        {{map.directionsRenderers[0].directions.routes[0].overview_path.length}}
    </div>

    <div id="directions-panel" style="width: 28%; float:left; height: 100%; overflow: auto; padding: 0px 5px">
  </div>
