<div id="container">

  <h1><a href="https://simpl.info/index.html" title="simpl.info home page">simpl.info</a> MediaStreamTrack.getSources</h1>

  <div class="select">
    <label for="audioSource">Audio source: </label><select id="audioSource"></select>
  </div>

  <div class="select">
    <label for="videoSource">Video source: </label><select id="videoSource"></select>
  </div>

  <video id="sample_video" muted="" autoplay=""></video>

  <button type="button" name="button" ng-click="snapClick()">Take Snap</button>

  <p>This demo requires Chrome 30 or later.</p>


  <canvas></canvas>

</div>
