<div id="container">

  <h1>Scan a destination to get tour details</h1>

  <!-- <div class="select">
    <label for="audioSource">Audio source: </label><select id="audioSource"></select>
  </div> -->

  <div class="select">
    <label for="videoSource">Video source: </label><select id="videoSource"></select>
  </div>

  <video id="sample_video" muted="" autoplay=""></video>

  <button type="button" name="button" ng-click="snapClick()">Take Snap</button>

  <!-- <p>This demo requires Chrome 30 or later.</p> -->


  <canvas></canvas>

  <div ng-if="location" class="">
    <div class="location" >
      <span>{{label}}
      </span>
      <span>{{location}}</span>
    </div>

    <button type="button" name="button" ng-click="findActivities(location)">Find Activites Near {{location}}</button>

    <div class="activities-cnt">
      <li ng-repeat="activity in activityList">
        {{activityList.title}}
      </li>
    </div>

  </div>


</div>
